.area-all {
    .left-container {
        .type-filter, .button {
            @include alignItems;
            gap: 2rem;
            filter: grayscale(100%);
            opacity: 0.6;
            transition: all .3s;
            &:hover, &:focus-within {
                filter: grayscale(0%);
                opacity: 1;
            }
            .icon-type {
                img {
                    width: 2.75rem;
                    height: 2.75rem;
                }
            }
            span {
                font: normal 500 .9375rem/150% $text;
            }
            &.all {
                img {
                    width: 2rem;
                    height: 2rem;
                }
                margin: 0.5rem;
                color: $all;
            }
            &.steel {
                color: $steel;
            }
            &.water {
                color: $water;
            }
            &.dragon {
                color: $dragon;
            }
            &.electric {
                color: $electric;
            }
            &.fairy {
                color: $fairy;
            }
            &.ghost {
                color: $ghost;
            }
            &.fire {
                color: $fire;
            }
            &.ice {
                color: $ice;
            }
            &.grass {
                color: $grass;
            }
            &.normal {
                color: $normal;
            }
            &.bug {
                color: $bug;
            }
            &.fighting {
                color: $fighting;
            }
            &.rock {
                color: $rock;
            }
            &.psychic {
                color: $psychic;
            }
            &.ground {
                color: $ground;
            }
            &.dark {
                color: $dark;
            }
            &.poison {
                color: $poison;
            }
            &.flying {
                color: $flying;
            }
        }
    }
}