// fonts
$title: 'Montserrat', sans-serif;
$text: 'Inter', sans-serif;

//colors
$whiteDefault: #fff;
$blackDefault: #2f3133;
$opacityBlack: rgba(0, 0, 0, 0.5);
$lightGray: #A0AFBA;
$gray: #7A7D80;
$redDefault: #c20001;
$lightRed: #C90C0C;
$opacityRed: rgba(194, 0, 0, 0.19);
$blueDefault: #3f67ba;
$lightBlue: #AFC0E3;
$opacityBlue: rgba(63, 103, 186, 0.19);

//color types
$all: #3E75C3;
$bug: #9BBA48;
$opacityBug: rgba(155, 186, 72, 0.2);
$dark: #595761;
$opacityDark: rgba(89, 87, 97, 0.2);
$dragon: #2C6AC1;
$opacityDragon: rgba(44, 106, 193, 0.2);
$electric: #eed235;
$opacityElectric: rgba(238, 217, 103, 0.2);
$fairy: #E296E1;
$opacityFairy: rgba(226, 150, 225, 0.2);
$fighting: #C44D61;
$opacityFighting: rgba(196, 77, 97, 0.2);
$ground: #CE8056;
$opacityGround: rgba(206, 128, 86, 0.2);
$ice: #8BCEC1;
$opacityIce: rgba(139, 206, 193, 0.2);
$normal: #A0A29F;
$opacityNormal: rgba(160, 162, 159, 0.2);
$poison: #AC6ACA;
$opacityPoison: rgba(172, 106, 202, 0.2);
$psychic: #EB8B85;
$opacityPsychic: rgba(235, 139, 133, 0.2);
$rock: #8BCEC1;
$opacityRock: rgba(139, 206, 193, 0.2);
$ghost: #616EB7;
$opacityGhost: rgba(97, 110, 183, 0.2);
$grass: #73B861;
$opacityGrass: rgba(115, 184, 97, 0.2);
$steel: #6594A1;
$opacitySteel: rgba(101, 148, 161, 0.2);
$water: #88A3D4;
$opacityWater: rgba(136, 163, 212, 0.2);
$fire: #F66D6D;
$opacityFire: rgba(246, 109, 109, 0.2);
$flying: #A6BBE8;
$opacityFlying: rgba(166, 187, 232, 0.2);